/build
/captures
/app/src/main/assets/blockly
.settings
.project

# Local Settings
local.properties

# Project files
*.komodoproject
.gradle
*.iml
.idea

# Build files
*.pyc
*.apk
*.ap_
*.class
*.dex

# OSX Files
.DS_Store

# Windows Files
Thumb.db
