*_compressed*.js
*_uncompressed*.js
gulpfile.js
/msg/*
/core/utils/global.js
/tests/blocks/*
/tests/compile/*
/tests/jsunit/*
/tests/generators/*
/tests/mocha/run_mocha_tests_in_browser.js
/tests/screenshot/*
/tests/test_runner.js
/tests/workspace_svg/*
/generators/*
/demos/*
/appengine/*
/externs/*
/closure/*
