*_compressed*.js
/msg/*
/build/*
/dist/*
/tests/blocks/*
/tests/themes/*
/tests/compile/*
/tests/jsunit/*
/tests/generators/*
/tests/mocha/run_mocha_tests_in_browser.js
/tests/screenshot/*
/tests/test_runner.js
/tests/workspace_svg/*
/generators/*
/demos/*
/appengine/*
/externs/*
/closure/*
/scripts/gulpfiles/*
