# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.conf text eol=lf
*.sh text eol=lf
*.yml text eol=lf