blockly_node_javascript_en.js
node_modules
npm-debug.log
.DS_Store
.settings
.project
*.pyc
*.komodoproject
/nbproject/private/

tests/compile/main_compressed.js
tests/compile/*compiler*.jar
local_build/*compiler*.jar
local_build/local_*_compressed.js
dist/