body {
  background-color: #fff;
  font-family: sans-serif;
  margin-top: 0;
}
h1 {
  font-weight: normal;
  font-size: 140%;
}
.farSide {
  text-align: right;
}
html[dir="RTL"] .farSide {
  text-align: left;
}
.tab {
  padding: 6px 12px;
  text-decoration: none;
  color: #000;
}
#selected {
  font-weight: bold;
  background-color: #ddd;
  border-radius: 20px;
}

/* Pulse the language menu once to draw attention to it. */
#languageBorder {
  border-radius: 4px;
  animation: pulse 2s ease-in-out forwards;
  animation-delay: 2s;
}
@keyframes pulse {
    0% { background-color: #fff }
    50% { background-color: #f00 }
    100% { background-color: #fff }
}

#blockly {
  height: 300px;
  width: 100%;
  border-style: solid;
  border-color: #ddd;
  border-width: 0 1px 1px 0;
}

/* SVG Plane. */
#plane {
  overflow: hidden;
}
#fuselage {
  fill: #fff;
  stroke: #000;
}
#wing, #tail {
  fill: #ddd;
  stroke: #444;
}
.crew {
  fill: #f44;
  stroke: #000;
}
.seat1st {
  fill: #88f;
  stroke: #000;
}
.seat2nd {
  fill: #8b8;
  stroke: #000;
}
#seatYes, #seatNo {
  font-size: 40pt;
}
text {
  font-family: sans-serif;
  font-size: 20pt;
  fill: #444;
}
html[dir="RTL"] #plane text {
  text-anchor: end;
}

/* Slider. */
.sliderTrack {
  stroke: #aaa;
  stroke-width: 6px;
  stroke-linecap: round;
}
.sliderKnob {
  fill: #ddd;
  stroke: #bbc;
  stroke-width: 1px;
  stroke-linejoin: round;
}
.sliderKnob:hover {
  fill: #eee;
}
