/* eslint-disable */
;(function(root, factory) {
  if (typeof define === 'function' && define.amd) { // AMD
    define(<%= amd %>, factory);
  } else if (typeof exports === 'object') { // Node.js
    module.exports = factory();
  } else { // Browser
    root.Blockly.setLocale(root.<%= namespace %>, factory());
  }
}(this, function() {
<%= contents %>
return messages;
})); 
