# Do not upload these files.
.*
deploy
*.soy
static/appengine/
static/closure/
static/demos/plane/soy/*.jar
static/demos/plane/xlf/
static/externs/
static/i18n/
static/msg/json/
static/node_modules/
static/package/
static/theme_scripts/
static/typings/

static/build.py
static/gulpfile.js
static/jsconfig.json
static/LICENSE
static/package-lock.json
static/package.json
static/README.md
