body {
  background-color: #fff;
  font-family: sans-serif;
}
a:hover {
  color: red;
}
h1, h2, h3 {
  font-weight: normal;
}
#code {
  font-family: monospace;
  font-size: larger;
  height: 15em;
  width: 100%;
  max-width: 111ex;
}
