body {
  background-color: #fff;
  font-family: sans-serif;
}
h1 {
  font-weight: normal;
  font-size: 140%;
}
section {
  float: left;
  width: 70%;
}
aside {
  float: right;
  width: 30%;
}
#categoryTable>table {
  border: 1px solid #ccc;
  border-bottom: none;
}
td.tabon {
  border-bottom-color: #ddd !important;
  background-color: #ddd;
  padding: 5px 19px;
}
td.taboff {
  cursor: pointer;
  padding: 5px 19px;
}
td.taboff:hover {
  background-color: #eee;
}
button {
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #eee;
  color: #000;
  padding: 10px;
  margin: 0 5px;
  font-size: large;
}
button:hover:not(:disabled) {
  box-shadow: 2px 2px 5px #888;
}
button:disabled {
  opacity: 0.6;
}
button>* {
  opacity: 0.6;
  vertical-align: text-bottom;
}
button:hover:not(:disabled)>* {
  opacity: 1;
}
table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border: none;
}
td {
  padding: 0;
  vertical-align: top;
}