.blocklyToolboxColumn {
  float: left;
  width: 350px;
}
.blocklyWorkspaceColumn {
  float: left;
  width: 350px;
}
.blocklySidebarColumn {
  float: left;
  margin-left: 10px;
  margin-top: 20px;
  width: 200px;
}

.blocklyAriaLiveStatus {
  background: #c8f7be;
  border-radius: 10px;
  bottom: 80px;
  left: 20px;
  max-width: 275px;
  padding: 10px;
  position: fixed;
}

.blocklyTree .blocklyActiveDescendant > label,
.blocklyTree .blocklyActiveDescendant > div > label,
.blocklyActiveDescendant > button,
.blocklyActiveDescendant > input,
.blocklyActiveDescendant > blockly-field-segment > label,
.blocklyActiveDescendant > blockly-field-segment > input {
  outline: 2px dotted #00f;
}

.blocklyDropdownListItem[aria-selected="true"] button {
  font-weight: bold;
}

.blocklyModalCurtain {
  background-color: rgba(0,0,0,0.4);
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.blocklyModal {
  background-color: #fefefe;
  border: 1px solid #888;
  margin: 15% auto;
  max-width: 600px;
  padding: 20px;
  width: 60%;
}
.blocklyModalButtonContainer {
  margin: 10px 0;
}
.blocklyModal .activeButton {
  border: 1px solid blue;
}
