.blocklyToolboxColumn {
  float: left;
  width: 350px;
}
.blocklyWorkspaceColumn {
  float: left;
  width: 350px;
}
.blocklyToolbarColumn {
  float: left;
  margin-top: 20px;
  width: 200px;
}

.blocklyTree .blocklyActiveDescendant > label,
.blocklyTree .blocklyActiveDescendant > div > label,
.blocklyActiveDescendant > button,
.blocklyActiveDescendant > input,
.blocklyActiveDescendant > blockly-field-segment > label,
.blocklyActiveDescendant > blockly-field-segment > input {
  outline: 2px dotted #00f;
}
